 <%= render "header/navbar"%>

 <section id="section-a">
        <div class="container" id="blok3">
          <div class="row">
            <div class="col d-none d-md-block  ">
                <img src="https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37368.jpg?w=740&t=st=1685087655~exp=1685088255~hmac=4fb304b0085e871881522128b722a1d727d4ab3015569bf7cf51c5a7da7b97b8">
            </div>
            <div class="col align-self-center">
                <h5 class="font-weight-light">RICH INFORMATION</h5> 
                <h1 class="font-bold">Make infored decisions with historical & real time data.</h1>
                <p class="lead">We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.</p>
                <div class="d-none d-md-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="font-bold">Data frequency</h4>
                                <p>We poll for data on a millisecond basis. You can react to new information in seconds rather than days.<a href="#">Learn more.</a></p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="font-bold">Reliability & uptime</h4>
                                <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always.<a href="#">Learn more.</a></p>
                        </div>
                     </div>
                 </div>
             </div>
        </div>
      </div>
    </div>
</section>

 <%= render "footer/footer"%>