 <section ng-app="people">
    <div ng-controller="firstController">
      <div class="page">
        <div class="margins">
          <div class="basic-info">
            <h1 class="center" ng-bind="user.name.first+ ' ' + user.name.last"></h1>
            <address class="center">
              <span class="location" ng-bind="user.location.city + ', ' + user.location.state"></span>
              <span class="phone" ng-bind="user.phone"></span>
              <span class="email" ng-bind="user.email"></span>
            </address>
            <hr />
            <h2 class="center">About</h2>
            <p>Am Shiboshree Roy this is my Blog website .I hope you all that this website help you to learn Programming and it help you to clear conseft About programming language</p>
            <hr />
          </div>
          <h2 class="center">Work History</h2>
          <p class="info">Last two years</p>
          <h3>About me</h3>
          <address>Dinajpur Dhaka Bangladesh</address>
          <p>Am Shiboshree Roy from Dinajpur Dhaka Bangladesh and am a CSE Engineer student of Aptouch polytechnic Inistitute, Study running.Now I am working Forntent and Backend FullStack Web Devloper, Webdesigner and am a Programmer .I worked many programming language like them C,C++,Java,Python,Go,Swift,Ruby,Ruby on Rails,C#,Php,Html,Css etc and i worked Css framework like Bootstrap-5,Rails, some i work mechine  and Assembely Language </p>
          <p class="info">Auditor | February 2010 to August, 2012</p>
          <h3>About my team:</h3>
          <address>Scranton, PA</address>
          <p>There are 4 people in my team .We work many thing like them webdesign,App Devlopment android and ios, Graphis design and programming , Cyber Security etc</p>
          <hr />
          <h2 class="center">Education</h2>
          <p class="info">Study running CSE Engineer</p>
          <h3>Aptouch Polytechnic Inistitute</h3>
          <address>Dinajpur Dhaka Banglasesh</address>
          <p class="info">Diploma start | August, 2019 and it will finish, 2024</p>
          <h3>Barunirdanga Adarsh High School</h3>
          <address>Nilphamary,Dhaka,Bangladesh</address>
          <hr />
          <h2 class="center">Skills</h2>
          <p>Am Shiboshree Roy from Dinajpur Dhaka Bangladesh and am a CSE Engineer student of Aptouch polytechnic Inistitute, Study running.Now I am working Forntent and Backend FullStack Web Devloper, Webdesigner and am a Programmer .I worked many programming language like them C,C++,Java,Python,Go,Swift,Ruby,Ruby on Rails,C#,Php,Html,Css etc and i worked Css framework like Bootstrap-5,Rails, some i work mechine  and Assembely Language </p>
        </div>
      </div>
    </div>
  </section>